<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_00_delay-0.06s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,428}</string>
                <key>spriteSourceSize</key>
                <string>{800,428}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_01_delay-0.06s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,428}</string>
                <key>spriteSourceSize</key>
                <string>{800,428}</string>
                <key>textureRect</key>
                <string>{{803,1},{800,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_02_delay-0.06s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,428}</string>
                <key>spriteSourceSize</key>
                <string>{800,428}</string>
                <key>textureRect</key>
                <string>{{1605,1},{800,428}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_03_delay-0.06s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,428}</string>
                <key>spriteSourceSize</key>
                <string>{800,428}</string>
                <key>textureRect</key>
                <string>{{1,431},{800,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_04_delay-0.06s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,428}</string>
                <key>spriteSourceSize</key>
                <string>{800,428}</string>
                <key>textureRect</key>
                <string>{{803,431},{800,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_05_delay-0.06s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,428}</string>
                <key>spriteSourceSize</key>
                <string>{800,428}</string>
                <key>textureRect</key>
                <string>{{1,861},{800,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_06_delay-0.06s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,428}</string>
                <key>spriteSourceSize</key>
                <string>{800,428}</string>
                <key>textureRect</key>
                <string>{{803,861},{800,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_07_delay-0.06s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,428}</string>
                <key>spriteSourceSize</key>
                <string>{800,428}</string>
                <key>textureRect</key>
                <string>{{1605,803},{800,428}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_08_delay-0.06s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,428}</string>
                <key>spriteSourceSize</key>
                <string>{800,428}</string>
                <key>textureRect</key>
                <string>{{1,1291},{800,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_09_delay-0.06s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,428}</string>
                <key>spriteSourceSize</key>
                <string>{800,428}</string>
                <key>textureRect</key>
                <string>{{803,1291},{800,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>HongKong.png</string>
            <key>size</key>
            <string>{2034,1720}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95f565f9e85732743ceb47f29565a490:9e39ea0c855df3bd1af6e4989798ff27:1a292f0ffeaf9dae3dbb4a93b94168f8$</string>
            <key>textureFileName</key>
            <string>HongKong.png</string>
        </dict>
    </dict>
</plist>
