<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_0_delay-0.08s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,104}</string>
                <key>spriteSourceSize</key>
                <string>{58,104}</string>
                <key>textureRect</key>
                <string>{{1,1},{58,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_1_delay-0.08s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,104}</string>
                <key>spriteSourceSize</key>
                <string>{58,104}</string>
                <key>textureRect</key>
                <string>{{1,107},{58,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_2_delay-0.08s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,104}</string>
                <key>spriteSourceSize</key>
                <string>{58,104}</string>
                <key>textureRect</key>
                <string>{{1,213},{58,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_3_delay-0.08s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,104}</string>
                <key>spriteSourceSize</key>
                <string>{58,104}</string>
                <key>textureRect</key>
                <string>{{1,319},{58,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_4_delay-0.08s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,104}</string>
                <key>spriteSourceSize</key>
                <string>{58,104}</string>
                <key>textureRect</key>
                <string>{{1,425},{58,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_5_delay-0.08s.gif</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,104}</string>
                <key>spriteSourceSize</key>
                <string>{58,104}</string>
                <key>textureRect</key>
                <string>{{1,531},{58,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>开场.png</string>
            <key>size</key>
            <string>{60,636}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dca6858f5ef29c6e7290bd97c79fa2f9:1efb50d53afa5f6e24277f5901425237:2fd3ec41a0b4841a007b348d08a38d40$</string>
            <key>textureFileName</key>
            <string>开场.png</string>
        </dict>
    </dict>
</plist>
